<div id="<%= dom_id question %>">
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>Ans1:</strong>
    <%= question.ans1 %>
  </p>

  <p>
    <strong>Ans2:</strong>
    <%= question.ans2 %>
  </p>

  <p>
    <strong>Ans3:</strong>
    <%= question.ans3 %>
  </p>

  <p>
    <strong>Ans4:</strong>
    <%= question.ans4 %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= question.key %>
  </p>

</div>
